<!-- IMPORT SCRIPTS -->

<!-- JQuery -->
<script type="text/javascript" src="js/libs/jquery/jquery.js"></script>

<!-- PopperJs -->
<script type="text/javascript" src="js/libs/mdb/popper.min.js"></script>

<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="js/libs/mdb/bootstrap.min.js"></script>

<!-- MDB core JavaScript -->
<script type="text/javascript" src="js/libs/mdb/mdb.min.js"></script>

<!-- FontAwesome -->
<script type="text/javascript" src="js/libs/fontawesome/fontawesome.js"></script>

<!-- Socket.IO -->
<script type="text/javascript" src="js/libs/socket.io/socket.io.js"></script>

<!-- Vue.JS -->
<script type="text/javascript" src="js/libs/vuejs/vue.js"></script>

<!-- Import my JS -->
<script type="text/javascript" src="js/include.js"></script>
<script type="text/javascript" src="js/record-schedule.js"></script>
<script type="text/javascript" src="js/process.js"></script>
<script type="text/javascript" src="js/logs.js"></script>

</div>
</main>
</body>