<% include header %>
<% include navbar %>

<!-- Card -->
<div id="app-player" class="card card-cascade">

    <!-- Card image -->
    <div class="view view-cascade gradient-card-header blue-gradient">

        <!-- Title -->
        <h2 class="card-header-title mb-3">Movie player : </h2>


    </div>

    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">

        <div id="app-player" class="row">

            <div v-for="(value, key, index) in videos" class="card col-4">
                <video v-bind:id="'player'+index" playsinline controls>
                    <source v-bind:src="'/data/videos/'+value" type="video/mp4">
                </video>
            </div>

        </div>

    </div>

</div>

<% include footer %>