<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>StreamEater</title>

    <!-- Import Material Design Bootstrap -->
    <link href="css/mdb/bootstrap.min.css" rel="stylesheet">
    <link href="css/mdb/mdb.min.css" rel="stylesheet">

    <!-- Import my CSS -->
    <link href="css/sidebar.css" rel="stylesheet">


</head>