<% include header %>
<% include navbar %>

<!-- Card -->
<div class="card card-cascade mb-5">

    <!-- Card image -->
    <div class="view view-cascade gradient-card-header blue-gradient">

        <!-- Title -->
        <h2 class="card-header-title mb-3">Your records schedules</h2>

    </div>

    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">


        <div id="app-record">
            <!--Table-->
            <table class="table table-striped table-hover table-responsive-xl">

                <!--Table head-->
                <thead>
                <tr>
                    <th>Url</th>
                    <th>Quality</th>
                    <th>Folder</th>
                    <th>Start at</th>
                    <th>End at</th>
                    <th>State</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody>

                <tr v-for="record in records">
                    <td>{{ record.url }}</td>
                    <td>{{ record.quality }}</td>
                    <td>{{ record.folder }}</td>
                    <td>{{ record.startAt }}</td>
                    <td>{{ record.endAt }}</td>
                    <td data-toggle="tooltip" data-placement="bottom" v-bind:title="record.stateMessage">{{ record.state }}</td>
                    <td>
                        <a class="badge badge-pill danger-color remove-record" v-on:click="removeRecord(record.uid)"><i
                                    class="fas fa-trash-alt fa-2x"></i></a>
                    </td>
                </tr>
                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->
        </div>

    </div>

</div>
<!-- Card -->

<!-- Card -->
<div class="card card-cascade">

    <!-- Card image -->
    <div class="view view-cascade gradient-card-header blue-gradient">

        <!-- Title -->
        <h2 class="card-header-title mb-3">Create a new record schedule</h2>

    </div>

    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">

        <form>
            <!-- Grid row -->
            <div class="form-row align-items-md-center">

                <div class="col-10 md-form">
                    <input id="url" type="text" class="form-control">
                    <label for="url">Stream URL</label>
                </div>

                <div class="col-2">
                    <select id="quality" class="mdb-select colorful-select dropdown-primary">
                        <option value="" disabled selected>Quality</option>
                        <option value="360p">360p</option>
                        <option value="480p">480p</option>
                        <option value="720p">720p</option>
                        <option value="1080p">1080p</option>
                        <option value="Source">Source</option>
                    </select>
                </div>

                <div class="col-4 md-form">
                    <input id="folder" type="text" class="form-control" value="<%= defaultFolder %>">
                    <label for="folder">Record folder</label>
                </div>

                <div class="col-2 md-form">
                    <input id="filename" type="text" class="form-control" value="MyVideo">
                    <label for="filename">Record name</label>
                </div>

                <div class="col-2 md-form">
                    <input id="start-time" type="text" class="form-control timepicker">
                    <label for="start-time">Start recording at</label>
                </div>

                <div class="col-2 md-form">
                    <input id="end-time" type="text" class="form-control timepicker">
                    <label for="end-time">End recording at</label>
                </div>

                <div class="col-1 md-form">
                    <button id="btn-post" type="button" value="ok" class="btn btn-outline-primary btn-rounded waves-effect">Ajouter</button>
                </div>
            </div>
        </form>

    </div>

</div>
<!-- Card -->

<% include footer %>